flows.json
[{"id":"2b7e4368701ada6b","type":"tab","label":"Relógio Digial","disabled":false,"info":"","env":[]},{"id":"20412a3ae2c35561","type":"tab","label":"Fluxo 4","disabled":false,"info":"","env":[]},{"id":"aadce0ad9bc7d0d9","type":"ui_tab","name":"Painel Principal","icon":"dashboard","disabled":false,"hidden":false},{"id":"0be19c5feb44f67b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a51f05b9561ad5f6","type":"ui_group","name":"Relógio","tab":"aadce0ad9bc7d0d9","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d8aa30727c5697db","type":"ui_tab","name":"RELÓGIO DIGITAL","icon":"dashboard","disabled":false,"hidden":false},{"id":"0cc3cb06922879b6","type":"inject","z":"2b7e4368701ada6b","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":460,"y":280,"wires":[["2eef634159fb820d","6fd6c4d4ab3caca0"]]},{"id":"2eef634159fb820d","type":"function","z":"2b7e4368701ada6b","name":"data/hora","func":"","outputs":1,"timeout":0,"noerr":0,"initialize":"// Cria a data/hora\nvar d = new Date();\nvar dia_semana = d.toLocaleDateString('pt-BR', { weekday: 'long' });\nvar data_formatada = d.toLocaleDateString('pt-BR');\nvar hora_formatada = d.toLocaleTimeString('pt-BR');\n\n// Cria a string final que será o msg.payload\n// Note que eu separei o dia/data da hora com <br>\n// O ui_template VAI interpretar as tags HTML!\nmsg.payload = `<span class=\"data-pequena\">${dia_semana}, ${data_formatada}</span><br>${hora_formatada}`;\n\nreturn msg;","finalize":"","libs":[],"x":760,"y":280,"wires":[["1992b27e9caeb911"]]},{"id":"6fd6c4d4ab3caca0","type":"function","z":"2b7e4368701ada6b","name":"Hora Cheia","func":"","outputs":1,"timeout":0,"noerr":3,"initialize":"// ... código anterior ...\n// Cria a string final que será enviada ao ui_template (Saída 2)\nmsgRelogio.payload = `<span class=\"data-pequena\">${dia_semana}, ${data_formatada}</span><br>${hora_formatada}`;\n\n// Retorno com Duas Saídas\nreturn [msgHoraCheia, msgRelogio];","finalize":"","libs":[],"x":770,"y":360,"wires":[["1992b27e9caeb911"]]},{"id":"1992b27e9caeb911","type":"ui_template","z":"2b7e4368701ada6b","group":"a51f05b9561ad5f6","name":"","order":0,"width":0,"height":0,"format":"<style>\n  /* Define a classe para o estilo principal do relógio */\n  .relogio-digital {\n    font-family: 'Segoe UI', Arial, sans-serif;\n    font-size: 3.5em;\n    color: #F0F0F0;\n    background: #222222;\n    padding: 15px;\n    border-radius: 8px;\n    text-align: center;\n    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);\n    width: 100%;\n    height: 100%;\n    /* Centraliza o conteúdo (Flexbox) */\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    align-items: center;\n  }\n\n  /* Estilo para a data menor */\n  .data-pequena {\n    font-size: 0.35em;\n    display: block;\n    color: #AAAAAA;\n    margin-bottom: 5px;\n  }\n</style>\n\n<div class=\"relogio-digital\">\n  <p style=\"line-height: 1;\">{{{msg.payload}}}</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1040,"y":280,"wires":[[]]},{"id":"7c0f97da3924caaa","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]